<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>User Information</title>
</head>

<body>
<h1>User Information</h1>
<dl>
    <dt>Username:</dt>
    <dd th:text="${username}"/>
    <dt>Name:</dt>
    <dd th:text="${userName}"/>
    <dt>E-Mail:</dt>
    <dd th:text="${userMail}"/>
    <dt>Authorities:</dt>
    <dd>
        <ul>
            <li th:each="authority: ${userAuthorities}" th:text="${authority}"></li>
        </ul>
    </dd>
    <dt>Role:</dt>
    <dd>
        <span th:if="${isPowerUser}">Power User (Full Access)</span>
        <span th:if="${isVisitor}">Visitor (Read-Only)</span>
    </dd>
    <dt>Remote-Address:</dt>
    <dd th:text="${userRemoteAddress}"/>
    <dt>Build Version:</dt>
    <dd th:text="${buildVersion}"/>
</dl>

</body>
</html>
